<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-grid> 
    <ion-row>
      <ion-col width-100>
        <ion-list>
         <ion-item>
           <strong>App Name: </strong>  Weather App
         </ion-item>
         <ion-item>
           <strong>Version: </strong>  1.0.0
         </ion-item>
         <ion-item>
           <strong>Description: </strong>  A basic weather app
         </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
